/*
    source of used icons: http://www.flaticon.com/

    source of color palette: http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project
    #f2671f (orange)
    #c91b26 (red)
    #9c0f5f (purple)
    #60047a (light violet)
    #160a46 (deep blue)

    #d93240 (red)
    #638ca6 (light blue)
    #bfd4d9 (really light blue)
    #0f5959 (dark turquoise)
    #17a697 (bluish-green)

    Atis' suggestions:

    #729CD7
    #628ABC
    #48668A
    #2D4057
    #131A24    
*/







/* some utilities */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}









/* and not the matter */
html,
body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    resize: none;

    font-size: 17px;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -moz-text-size-adjust:none;
    text-size-adjust:none;   

    /* set to the menu */
    min-width: 340px;

    text-align: justify;    
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: solid 2px #628ABC;
    padding: 16px;

}

h1 {
    font-size: 300%;
    line-height: initial; 
}

#page-content p, 
#page-content ul {
    font-size: 20px;
    line-height: normal;
    padding-bottom: 20px; 
}

#page-content:not(h1, h2, h3, h4, h5, h6, ul){
    text-align: left; 
}

a {
    color: #628ABC;
}

a.newpage {
    color: #c91b26;
}

/* "new" classes */
.container {
    width:90%;
  
}

.row-fluid .span3 { 
    width: 256px; 
}
.row-fluid .span9 { 
    width: calc(97% - 256px); 
}

.container-fluid > .brand.active {
    margin-top:11px;

    color: #fff;
    text-shadow: 0 1px 0 #777;

    font-size: 144%; 
    line-height: normal; 
}

.navbar {

}

.navbar-inner {
    padding-bottom:16px;
    background: #638ca6;
}






















/* exact elements */

#search-top-box-form,#search-top-box-form > * {
    float: right;
        
}

#search-top-box-form {
    padding-left: 0;
    padding-right: 0;
}
#search-top-box-form > * {
    border-radius: 0;
}
















/* login status div */
a.login-status-create-account,
a.login-status-sign-in {
    margin-top: 16px !important;
}

#login-status > span {
    display: none;
}



#search-top-box-form,
#login-status > div {
    padding-top:16px;
    line-height: 0;
    margin: 0;
}

#login-status > div {
    padding-left:16px;

}



















/* top bar */
#top-bar {
    padding: 16px;
    margin-top: 16px;
    margin-right: 17px;
    background: url(https://image.flaticon.com/icons/svg/25/25655.svg);
    background-size: 32px 32px;
}

#top-bar ul {
    display: none;
}


#top-bar:hover ul {
    display: block;
    position: absolute;
    width: 128px;
    background: #bfd4d9;
    list-style-type: none;
    z-index:1002;

    border-radius: 32px;
}

#top-bar:hover > ul {
    padding: 16px;
    margin: -16px 0 0 -32px;    
} 

#top-bar:hover > ul li,
#top-bar:hover > ul li > ul li {
    padding: 8px;
}


/* "edit page" and "other tools" */
#top-bar:hover > ul li > ul {
    display: none;
}

#top-bar:hover > ul li:hover > ul {
    display:inherit;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;      
} 

#top-bar > ul > li:nth-child(3) > ul {
    margin: -28px 0px 0px 120px; 
}

#top-bar > ul > li:nth-child(6) > ul {
    padding-left: 24px;
    margin: -48px 0px 0px 96px;
}




#top-bar:hover ul li,
#top-bar:hover ul li ul li
 {

}


















/* side bar */
#side-bar {

}

#side-bar ul a {
    color: #eef;
}

#side-bar ul {
    margin-left: 0px;
    border-bottom: solid 3px #2D4057;
}

#side-bar ul li {
    word-break: break-all;

}


#side-bar > ul > li{
    font-size: 150%;
}

#side-bar > ul > li ul{
    font-size: 75%;
}




#side-bar input.text {
    width: 90%;
}

#side-bar ul:first-child, 
#side-bar ul:first-child ul {
  width: inherit;                 /* sets the size of the menu blocks */
  background-color:inherit;      /* makes the menu blocks mint green - a bg-color MUST be included for IE to work properly! */
  padding-left: 0px;           /* stops the usual indent from ul */
  cursor: default;             /* gives an arrow cursor */
}


#side-bar ul:first-child li {
  list-style-type: none;       /* removes the bullet points */
  position: relative;          /* makes the menu blocks be positioned relative to their parent menu item
                                  the lack of offset makes these appear normal, but it will make a difference
                                  to the absolutely positioned child blocks */

  margin: 0px 6px 0px 6px; 
  border: solid #2D4057;  
  border-width: 3px 3px 0px 3px;
  padding: 8px 0px 8px 8px;

}

#side-bar ul:first-child li {

}



#side-bar ul:first-child li > ul {          /* using the > selector prevents many lesser browsers (and IE - see below) hiding child ULs */
    display: none;               /* hides child menu blocks - one of the most important declarations */
    width: inherit;
    padding:inherit;
    border: none;
    margin: 16px 0px 0px 32px;
}

#side-bar > ul > li:nth-child(1n+0) > ul > li:nth-child(1n+0){
    padding-bottom:6px;
}

/* active menu item */
#side-bar ul:first-child > li:hover {
    padding-bottom:0;
}



/*  
    one of the most important declarations - the browser must detect hovering over arbitrary elements
    the > targets only the child ul, not any child uls of that child ul 
*/
#side-bar ul:first-child li:hover > ul {               
    display: block;              /* makes the child block visible - one of the most important declarations */

    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

    background-color: #2D4057;  
    width: inherit;
    padding:inherit;
    border: none;
    margin: 16px 0px 0px 32px;

}

/* and some link styles */
#side-bar ul:first-child li a { 
    display: block; 
    white-space: nowrap;

}

#side-bar ul:first-child li a:hover { 

}

/* supports links in branch headings - should not be display: block; */
#side-bar ul:first-child li:hover > a { 

} 

#side-bar ul:first-child li ul li { 
    border: none;
    padding: 6px 0px 12px 6px; 
    margin-bottom: 0;
    list-style-type: none;       /* removes the bullet points */
    color: #eef;
} 































/* footer */

#footer,
#footer.options {
    padding: 8px;
    text-align:start;
}

#footer a,
#footer .options a{
    color: #EEF;
}

#footer{
    background-color: #638ca6;   
    color: #eee;
}


#footer .options{

    float: right;

}

#footer a:hover{
    background-color: #669;
}

































/*
    SCREEN WIDTH SPECIFID STYLING
*/



/* too small sizes */
@media screen and (max-width: 600px){
    #login-status {
        display: none;
    }      
}

/* search bar in on-hover box */
@media screen and (max-width: 400px){
    #top-bar {
        margin-left: 0%;
        margin-right: 0%;
    }
    .container-fluid {
        padding: 0;
    }

    .container-fluid > .brand.active {
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }

    #top-bar {
        margin-left: 0%;
        margin-right: 36%;
    }
    #top-bar:hover > ul {
        
    }

    /* search bar in a hover box */
    #search-top-box-form {
        padding: 16px;
        margin: 17px 0 0 0;
        background: url(https://image.flaticon.com/icons/svg/149/149852.svg);
    }
    #search-top-box-form > * {
        display:none;
    } 

    #search-top-box-form:hover {
        width:90%;
        position:absolute;
        padding: 32px 7% 32px 1%;
        background: #ccc;
        z-index:1002;
        display:inline-flex;
        margin-left: -224px;
    }
    #search-top-box-form:hover > * {
        display:flex;        
    }      
}


@media screen and (min-width: 401px){
    #search-top-box-form {
        width:100%;

    }
    
    #search-top-box-form > input.button.btn {
        width:75px;
    }

    #search-top-box-input {
        width: calc(100% - 105px);      
    }

}

@media screen and (min-width: 401px) and (max-width:512px){
    #top-bar:hover ul {
        margin: -16px 0 0 -128px;   
        border-radius:32px;   
    }

    #top-bar:hover > ul li > ul {
        display: none;
    }

    #top-bar:hover > ul li:hover > ul {
        display:inherit;
        border-top-left-radius: 32px;
        border-bottom-left-radius: 32px;   
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;      
    } 

    #top-bar > ul > li:nth-child(3) > ul {
        margin: -26px 0px 0px -136px; 
    }

    #top-bar > ul > li:nth-child(6) > ul {
        margin: -48px 0px 0px -151px;
    }       
}

@media screen and (min-width: 830px){
    #search-top-box-form {
        width:39%;
    }
    #top-bar {
        margin-right: 0px;
    } 
}


@media screen and (min-width: 570px) and (max-width: 665px){

    #login-status {
        float: right;
        padding: 16px, 0px, 16px, 0px;    
    }    
}


/* sidebar and content are below each other */
@media screen and (max-width: 719px){   
    .row-fluid > .span3 {
        width: 100%;
    }
    .row-fluid > .span9 {
        width: 95%;
    }    
}
