<section class="start-menu">
    <div class="window">
        <div class="window-body">
            <button class="start-button">
                <img src="/favicon.ico">
                <strong>Start</strong>
            </button>
            <div class="text">
                <p>Wallpaper remake by <a href="https://www.wallpaperflare.com/vaporwave-1990s-windows-95-windows-98-clouds-wallpaper-coflj" target="_blank">Wallpaper Flare</a></p>
            </div>
        </div>
    </div>
</section>
