---
layout: default
---

{% include menubar.html active="code-golf" %}

<div style="padding-top: 20px" class="ui container ">
    <div class="ui stackable">
        <div class="card">
            <div class="content">
                Sometimes it occurs that I post <a href="codegolf.stackexchange.com" target="_blank">on Code Golf Stack Exchange</a>, a great site for fast and interesting coding challanges. Whenever I post a Javascript solution, I also save its code here, as some sort of "final storage".
            </div>
        </div>
    </div>
</div>

{{ content }}

